.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.postCard {
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 2%;
  /* width: 1000px; */
  /* border-width: 2px;
  border-color: black;
  border-radius: 5%; */
  border-width: 2px !important;
  border-color: #C4DAFF !important;
  border-radius: 2% !important;
  background-color: #C4DAFF !important;
}

.descriptionLabel
{
  font-weight: bold !important;
  font-size: large !important;
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
  
}
.description
{
  font-weight: bold;
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
  
}

.postTitle{
  margin-left: 40% !important;   
  font-weight: bold !important;
  font-size: larger !important;

}

.petName{
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
  font-weight: bold !important;
  font-size: larger !important;
}

.profilePic{
  width: 75px !important;
  height: 75px !important;
}

.comments{
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
}



.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  margin-left: 45%;
  margin-right: 45%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
