.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.postCard {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
  border-width: 2px !important;
  border-color: #C4DAFF !important;
  background-color: #C4DAFF !important;
}

.postResolved {
  font-weight: bold !important;
}

@media screen and (max-width: 650px) {
  .postCard {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
  }

  .filterGroup {
    padding-left: 4% !important;
    padding-right: 4% !important;
    padding-top: 1% !important;
  }

  .filterGroup button{
    margin-left: 40% !important;
  }

  .backButton{
    margin-left: 0% !important;
  }
}

@media screen and (max-width: 1010px) {
  .filterGroup button{
    margin-left: 50% !important;
  }

  .backButton{
    margin-left: 0% !important;
  }
}

.descriptionLabel
{
  font-weight: bold !important;
  font-size: large !important;
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
  
}
.description
{
  font-weight: bold;
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
  word-break: break-all !important;
}

.postTitle{
  font-weight: bold !important;
  font-size: larger !important;
  word-break: break-all !important;

}

.petName{
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
  font-weight: bold !important;
  font-size: larger !important;
}

.petDescription {
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
}

.profilePic{
  width: 75px !important;
  height: 75px !important;
}

.comments{
  display: flex !important;
  justify-content: center !important;    
  align-items: center !important;
}



.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: flex;
  justify-content: center;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#create-post-button-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  font-size: large;
  align-items: center;
}


#view-post-button-container {
  display: flex;
  justify-content: center;
  font-size: large;
  align-items: center;
}

.center {
  display: flex !important;
  justify-content: center !important;   
}


.image {
  border-radius: 100px !important;
}

.filterGroup {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 1%;
}

.filterGroup button{
  /* padding-left: 30%; */
  /* padding-right: 30%; */
  padding-top: 1%;
  /*margin-left: 90%;*/
}