body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    text-align: center;
    margin: 0;
    padding: 0;
    position: static;
    height: 100%;
    overflow: auto;
    align-self: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.sidebar a {
    display: block;
    color: white;
    height: 100%;
    padding: 1vw;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: black;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: #C4DAFF;
    color: black;
    text-decoration: none;
}

#sidebar-name {
    font-weight: bold;
    font-size: x-large;
}

#sidebar-button {
    color: white;
    font-weight: 300;
    border-left: 2vw;
    border-right: 2vw;
    font-size: small;
    min-width: auto;
}

/* div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
} */

@media (max-width: 650px) {
    .sidebar {
        flex-direction: column;
        align-items: baseline;
        font-size: x-large;
    }

    .sidebar a {
        width: 100%;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }

    .sidebar-img {
        padding-top: 1%;
        padding-bottom: 1%;
    }
}

.sidebar-img {
    min-width: 60px;
    width: 5%;
    height: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
